# Ignore LaTeX intermediate/compilation files
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdv
*.gz
*.ps
*.dvi
*.thm
*.upa
*.upb
*.run.xml
# Do not ignore the resulting PDF file
!*.pdf